@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,700&display=swap');

*{
    color:#14171F;
    margin: 1;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-width: 100%;
    overflow-x: hidden;
}

.header_content{
    display:flex;
    flex-direction: row;
    margin: 16px 0;
    justify-content: space-between;
}
.header_logo{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left:112px;
}

.header_title{
align-self:center;
font-family: 'Work Sans', sans-serif;
font-style: italic;
color: #2947a9;
font-size: 30px;
}


.header_inf ul li{
    display: inline-flex;
    gap: 50px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    margin-right: 50px;
}


 a{
    text-decoration:none;
}

.orange{
font-family: 'Work Sans', sans-serif;
font-weight: 600;
color: #F9995D;
}
.gradient img{
    height: 648px;
    width:100%;
}

.back_pic{
    position: relative;
    height:600px;
}

.back_pic img{
    width: 100%;
    object-fit: cover;
    
}

/*.back_pic img{
    width: 100%;
    object-fit: cover;
 -webkit-mask-image: linear-gradient(to right top, transparent 5%, black 40%);
  mask-image: linear-gradient(to top, transparent 5%, black 30%);
}*/

.base_title{
    font-family: 'Work Sans', sans-serif;
    font-size: 72px;
    font-weight: 600;
    margin-left: 115px;
    margin-top: 180px;
    position:absolute;
    
}

.base_container{
    width: 270px;
    height:120px;
    position: absolute;
    right:0;
    bottom: -15px;
    flex-direction: column;
    /* padding: 20px; */
    background-color: #3559C7;
    /* border: 2px solid purple; */
}

.small_title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color:white;
    text-align: center;
}

.small_text{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: center;
}

.back_container{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: row;
    /* padding: 20px; */
    background-color:  #292E3D;
    justify-content: center;
    gap: 10px;
    border: none;
   
}

.next_container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    /* border: 2px solid green; */
    background-color:  #292E3D;
    gap:10px;
    border: none; 
}

.border1{

border: 0.5px solid white;
height: 50px;
}

.next{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    margin-left:25px;
}

.back{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}
.next_container svg{
    /* display: flex; */
    left: 20px;
    margin-top: 18px;
    /* flex-direction: row; */
    width: 20px;
    height: auto;
    

}
.back_container svg{
    /* display: flex; */
    width: 20px;
    /* flex-direction: row; */
    height: auto;
    margin-top:18px;
}

.move{
    display: flex;
    flex-direction: row;
    /* border: 2px solid yellow; */
    width: 100%;
}

.border_box{
    background-color: #F6F8F7; 
    height: 710px;
    
}

.bottom_title{
    padding:28px;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    color:#292E3D;
    text-align: center;
}

.my_tasks{
    width: 520px;
    height: 540px;
    position: absolute;
    margin-left: 32%;
    margin-top: -28px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;

}

.my_tasks p{
    font-family: 'Work Sans', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin-top: 11px;
}

.new_task{
    display: flex;
    width: 251px;
    height: 41px;
    margin-left: 20px;;
    padding: 10px 8px;
    align-items: center;
    gap: 10px;
    border: 1px solid #E0E3EB;
    border-radius: 4px;
}

.new_task p{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:#A3AAC2;
    margin-top: 8%;
}

.priority{
    display: inline-flex;
    padding: 10px 8px;
    align-items: center;
    gap: 10px;
    border: 1px solid  #E0E3EB;
    border-radius: 4px;
    height: 41px;
    width: 109px;
    margin-left: 56%;
    position: absolute;
    top: 89px;

}

.priority p{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color:  #A3AAC2;
    margin-top: 20%;
}

.add_button p{
    color: #FFF;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50%;
    
}

.add_button{
    display: inline-flex;
    padding: 9px 25px 10px 24px;
    justify-content: center;
    align-items: center;
    background-color: #2947A9;
    border-radius: 10px;
    height:40px;
    width: 84px;
    position: absolute;
    border: none;
    margin-left: 81%;
    top: 89px;

}

.task_name1{
    display: flex;
    width: 480px;
    height: 40px;
    padding: 9px 346px 10px 10px;
    text-align: center;
    text-align: center;
    border: 1px solid #E0E3EB;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 4%;
    align-items: center;
    margin-bottom: -10px;
}

.task_name1 p{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16%;
    padding:5px;
    white-space: nowrap;
}

.bottom{
    width: 100%;
    height: 583px;
    background-color:#E0E3EB;
    position: absolute;
}

.main_bottom_title{
    color: #292E3D;
    font-family: "Work Sans","sans-serif";
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    }

.bottom_text{
    color:  #292E3D;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.name{
    display: flex;
    width: 550px;
    height: 200px;
    align-items: center;
    gap: 10px;
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 190px;
    margin-left: 31%;
    display: inline-block;
}

.form_element1{
    display: flex;
    width: 132px;
    height: 41px;
    padding: 10px 8px;
    margin-left: -2px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid  #E0E3EB;
    position: absolute;
    background-color: #FFF;
}

.form_element1 p{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 16%;
    padding:5px;
    white-space: nowrap;
    color:#A3AAC2;
}

.form_element2{
    display: flex;
    width: 418px;
    height: 41px;
    margin-left:132px;
    padding: 10px 8px;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid  #E0E3EB;
    position: absolute;
    background-color: #FFF;
}

.form_element2 p{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding:5px;
    white-space: nowrap;
    color:#A3AAC2;
}

.form_element3{
    display: flex;
    width: 550px;
    height: 135px;
    margin-top: 10.5%;
    padding-left: 8px;
    border-radius: 4px;
    border: 1px solid  #E0E3EB;
    position: absolute;
    background-color: #FFF;
}

.form_element3 p{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
    color:#A3AAC2;
}

.submit{
    width: 751px;
    height: 53px;
    background-color: #2947A9;
    border-radius: 2px;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display:flex;
    border:none;
    flex-direction: row;
    margin-left: 24%;
    margin-top: 460px;
}

.submit p{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.bottom_container{
    position: absolute;
    margin-top:583px;
    height: 100%;
    width: 100%;
    background-color: #2947a9;
}

.footer_text{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 111px;
    margin-top: 26px;
}