@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,700&display=swap');

*{
    color:#14171F;
    margin: 1;
    padding: 0;
    box-sizing: border-box;

}
body{
    min-width: 100%;
    overflow-x: hidden;
}

.header_content{
    display:flex;
    flex-direction: row;
    margin: 16px 0;
    justify-content: space-between;
}
.header_logo{
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left:112px;
}

.header_title{
align-self:center;
font-family: 'Work Sans', sans-serif;
font-style: italic;
color: #2947a9;
font-size: 30px;
}


.header_inf ul li{
    display: inline-flex;
    gap: 50px;
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    margin-right: 50px;
}


 a{
    text-decoration:none;
}

.orange{
font-family: 'Work Sans', sans-serif;
font-weight: 600;
color: #F9995D;
}
.gradient img{
    height: 648px;
    width:100%;
}

.back_pic{
    position: relative;
}

.back_pic img{
    width: 100%;
    object-fit: cover;
    
}

/*.back_pic img{
    width: 100%;
    object-fit: cover;
 -webkit-mask-image: linear-gradient(to right top, transparent 5%, black 40%);
  mask-image: linear-gradient(to top, transparent 5%, black 30%);
}*/

.base_title{
    font-family: 'Work Sans', sans-serif;
    font-size: 72px;
    font-weight: 600;
    margin-left: 115px;
    margin-top: 180px;

    position:absolute;
    
}

.base_container{
    width: 270px;
    height:120px;
    position: absolute;
    right:0;
    bottom:0;
    flex-direction: column;
    /* padding: 20px; */
    background-color: #3559C7;
    align-items: flex-end;
    border: 2px solid purple;
}

.small_title{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color:white;
}

.small_text{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.back_container{
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: row;
    /* padding: 20px; */
    gap:20px;
    background-color:  #292E3D;
   
}

.next_container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    background-color:  #292E3D;
    
}

.next{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.back{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    
}
.next_container svg{
    display: flex;
    flex-direction: row;
    border: 2px solid pink;
    width: 20px;
    height: auto;

}
.back_container svg{
    display: flex;
    border: 2px solid pink; 
    width: 20px;
    height: auto;
}

.move{
    display: flex;
    flex-direction: row;
    border: 2px solid yellow;
    width: 100%;
}